<p id="notice"><%= notice %></p>

<h1><%= @album.name %></h1>

<p>
  <%= @album.description %>
</p>

<% if user_signed_in? then %>
  <%= link_to 'Add new photo', new_album_photo_path(@album), :class=>'btn' %>
  <%= link_to 'Edit', edit_album_path(@album), :class=>'btn' %>
<% end %>



<div class='thumbnails'>
<% @photos.each do |photo| %>
  <div class='thumbnail'>
    
    <% if user_signed_in? then %>
        <div class='admin'>
          <%= link_to 'Edit', edit_album_photo_path(@album, photo) %><br>
          <%= link_to 'Destroy', album_photo_path(@album,photo), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </div>
    <% end %>

    <%= link_to image_tag(photo.image.url(:thumb)), album_photo_path(@album,photo) %>
    <%= link_to photo.title, album_photo_path(@album,photo), :class => "thumblink" %>
      
  </div>
<% end %>
</div>



<%= link_to 'Back', albums_path %>
