<%= javascript_include_tag "comments" %>
<p id="notice"><%= notice %></p>
<input type="hidden" id="album_id" value="<%= params[:album_id]%>">
<input type="hidden" id="photo_id" value="<%= params[:id]%>">
<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>image address:</b>
  <%= @photo.image_file_name %>
</p>

<p>
  <b>image:</b>
  <%= image_tag @photo.image.url(:large) %>
</p>

<hr>
 
<h2>Komentáře</h2>


<span data-bind="foreach: comments, visible: comments().length > 0">
    
        <strong data-bind="text: user"></strong>
        <span data-bind="text: title"></span>
        <p data-bind="text: content"></p>
        <% if user_signed_in? then %>
          <p><a href="#" data-bind="click: $parent.destroyComment" >Destroy</a></p>
        <% end %>
        <br>
     
</span>

<!--
<% @comments.each do |comment| %>
  <p><strong><%= comment.title %></strong><br>
    <%= comment.created_at.to_s %> napsal <strong><%= comment.user %></strong>:
    <q><%= comment.content %></q>
  </p>

<% 
 end %>

 /-->

<hr>




<% if @comment then %>
  <% @comment.errors.full_messages.each do |error| %>
    <p id="error_explanation"><%= error %></p>
  <% end %>
<% end %>
<h2>Přidat komentář:</h2>

<%= render 'photos/commentForm' %>


<% if user_signed_in? then %>
  <%= link_to 'Edit', edit_album_photo_path(@album, @photo) %> |
<% end %>
<%= link_to 'Back', album_path(@album) %>
