<%= javascript_include_tag "comments" %>
<p id="notice"><%= notice %></p>
<input type="hidden" id="album_id" value="<%= params[:album_id]%>">
<input type="hidden" id="photo_id" value="<%= params[:id]%>">
  <h1><%= @photo.title %></h1>


  <%= image_tag @photo.image.url(:large), :class => "img-polaroid" %>

<p>
  <%= @photo.description %>
</p>
 
<hr>
 
<h2>Comments</h2>

<span data-bind="foreach: comments, visible: comments().length > 0">
    
        <span data-bind="text: title" class='title'></span><span class='user' data-bind="text: user"></span><br>
        <p data-bind="text: content"></p>
        <br>
        <% if user_signed_in? then %>
          <a href="#" data-bind="click: $parent.destroyComment" class='text-info'>Destroy</a>
        <% end %>
        <hr>
     
</span>





<% if @comment then %>
  <% @comment.errors.full_messages.each do |error| %>
    <p id="error_explanation"><%= error %></p>
  <% end %>
<% end %>
<h2>Add comment</h2>

<%= render 'photos/commentForm' %>


<% if user_signed_in? then %>
  <%= link_to 'Edit', edit_album_photo_path(@album, @photo) %> |
<% end %>
<%= link_to 'Back', album_path(@album) %>
