<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>image address:</b>
  <%= @photo.image_file_name %>
</p>

<p>
  <b>image:</b>
  <%= image_tag @photo.image.url(:large) %>
</p>

<hr>
 
<h2>Komentáře</h2>


<% @comments.each do |comment| %>
  <p><strong><%= comment.title %></strong><br>
    <%= comment.created_at.to_s %> napsal <strong><%= comment.user %></strong>:
    <q><%= comment.content %></q>
  </p>

<% 
 end %>
 
<hr>
<% if @comment then %>
	<% @comment.errors.full_messages.each do |error| %>
    <p id="error_explanation"><%= error %></p>
  <% end %>
<% end %>
<h2>Přidat komentář:</h2>
<%= render 'photos/commentForm' %>

<%= link_to 'Edit', edit_album_photo_path(@album, @photo) %> |
<%= link_to 'Back', album_path(@album) %>
