<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rhoto - simple photo gallery </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
  	<%= yield :javascript_includes %>
  	<%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rhoto is simple and open-source photo gallery which utilize Ruby on Rails, Bootstrap, Devise, Paperclip and knockoutJS.">
    <meta name="author" content="Filip Strycko (chrobakos@gmail.com)">

    
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <a class="brand" href="/">Rhoto</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li
               <% if params[:controller] == "albums" then %>
               	class="active"
               <% end %>
               ><%= link_to "Albums", albums_path %></li>
              	<!--
              		<li><a href="#contact">Contact</a></li>
				/-->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

     <%= yield %>

    </div> <!-- /container -->

  </body>
</html>